<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Zimba's News 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <app-noticias [noticias]="noticias" ></app-noticias>


  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
